body{
    margin: 0px;
    padding: 0px;
}
.card-container{
    width: 100%; 
    height: auto;
    /* border: 2px solid red; */
    margin: 5% auto;
    text-align: center;
}

.card{
    width: 250px;
    height: 350px; 
    border: 1px solid lightgray; 
    display: inline-block;
    border-radius: 5px;
    margin: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 8px lightgray;
}
.text{
    width: 100%;
    height: 110px;
    background-color: rgb(141, 190, 221);
    
}
.text span{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100px;
    color: white;
    text-shadow: 2px 2px 4px black;
}
.card .img{
    width: 100%;
    height: 250px;
    /* color: white; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-size: 1.3em; */
    /* line-height: 250px; */
}
 .card-container .img:hover{
    background-color: rgb(216, 194, 194);
}
.img img{
    width: 210px;
    height: 220px;
}

@media (max-width: 450px){
    .card-container {
        margin: 3% auto;
        width: 90%;
    }
    .card{
        width: 75%;
    }
}

.scroll{
    width: 80%;
    height: 500px;
    overflow: hidden;
    /* border-radius: 4px; */
    /* border: 2px solid gray; */
    margin: 0px auto;
}
.scroll-card{
    width: 100%;
    height: 500px;
    background-size: 100% 500px;
    background-repeat: no-repeat;
    transition: 1s;
}

@media (max-width: 950px){
    .scroll{
        width: 80%;
        height: 400px;
        overflow: hidden;
        /* border-radius: 4px; */
        /* border: 2px solid gray; */
        margin: 0px auto;
    }
    .scroll-card{
        width: 100%;
        height: 400px;
        transition: 1s;
        background-size: 100% 400px;
        background-repeat: no-repeat;
    }
}
@media (max-width: 750px){
    .scroll{
        width: 80%;
        height: 270px;
        overflow: hidden;
        /* border-radius: 4px; */
        /* border: 2px solid gray; */
        margin: 0px auto;
    }
    .scroll-card{
        width: 100%;
        height: 270px;
        transition: 1s;
        background-size: 100% 270px;
        background-repeat: no-repeat;
    }
}
@media (max-width: 450px){
    .scroll{
        width: 100%;
        height: 250px;
        overflow: hidden;
        /* border-radius: 4px; */
        /* border: 2px solid gray; */
        margin: 0px auto;
    }
    .scroll-card{
        width: 100%;
        height: 250px;
        transition: 1s;
        background-size: 100% 250px;
        background-repeat: no-repeat;
    }
}